<form action="/create/new" method="post">
    <div class="mb-4 form-floating">
        <input autofocus required type="text" name="name" class="form-control" id="subject-name-input">
        <label for="subject-name-input" class="form-label">Subject Name</label>
    </div>

    <div class="mb-4 form-floating">
        <textarea autocomplete="off" name="description" class="form-control" id="subject-description-input" style="width: 400px; height: 100px;" required></textarea>
        <label for="subject-description-input">Description</label>
    </div>
    <button type="submit" class="btn-lg btn btn-success">Submit</button>
</form>