<form action="/save/new/{{ id }}" method="post">
    <div class="row mb-3 g-2"> <div class="col-12">
            <div class="form-floating">
                <input name="topic" type="text" class="form-control" required id="topicInput" placeholder="Topic">
                <label for="topicInput">Topic</label>
            </div>
        </div>

        
    </div>

    <div class="row mb-3 g-2">
        
        <div class="col-6">
            <div class="form-floating">
                <input name="duration" type="number" class="form-control" required id="durationInput" placeholder="Duration">
                <label for="durationInput">Duration (min)</label>
            </div>
        </div>

        <div class="col-6">
            <div class="form-floating">
                <input name="date" type="date" class="form-control" id="dateInput" placeholder="Date">
                <label for="dateInput">Date</label>
            </div>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col-12">
            <div class="form-floating">
                <textarea name="notes" class="form-control" placeholder="Notes" id="notesInput" style="width: 500px; height: 150px"></textarea>
                <label for="notesInput">Notes</label>
            </div>
        </div>
    </div>
        
    <button type="submit" class="btn btn-lg btn-success">Submit</button>
</form>